.floating-icons {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    z-index: 999; 
  }
  
  .icon {
    background-color: #25d366;
    border-radius: 50%;
    padding: 15px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px; 
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
  }
  .icon-phone {
    background-color:#dc3545;
    border-radius: 50%;
    padding: 15px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px; 
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .icon:hover {
    background-color: #06702d;
  }
  .icon-phone:hover {
    background-color: #831621;
  }
  .whatsapp{
    font-size: 1.8rem;
  }
  .phone{
    font-size: 1.8rem;
    margin-top: 0.3rem;
  }