.product {
    background: linear-gradient(rgba(255, 255, 255, 0.916), rgba(248, 249, 248, 0.495)), url(../../img/product-bg.png) left bottom no-repeat;
    background-size: auto;
  }
  
  .product-carousel .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .product-carousel .owl-nav .owl-prev,
  .product-carousel .owl-nav .owl-next {
    margin: 0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
  }
  
  .product-carousel .owl-nav .owl-prev:hover,
  .product-carousel .owl-nav .owl-next:hover {
    background: #FFFFFF;
    color: var(--primary);
  }
  .custom-carousel img {
    max-width: 600px;
    max-height: 600px; 
    margin: 0 auto; 
    display: block; 
  }
  .section-title{
    animation: alternate;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .section-title {
    animation: fadeInUp 1s ease forwards;
  }

  .carousel-control-prev-icon {
    background-color: rgba(230, 35, 35, 0.618);
}

  .carousel-control-next-icon {
    background-color:rgba(230, 35, 35, 0.618);
}
