.carousel-item img {
  width: 100%;
  height: 600px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}


/* CSS for the caption */
.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(65, 55, 6, 0.715), rgba(235, 162, 27, 0.355));
  z-index: 1;
}

/* CSS for the h2 element in the caption */
.styled-h2 {
  text-align: center;
  font-weight: bold;
  font-family: 'YourPreferredFont', sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: fadeIn 2s ease forwards; /* Apply the fadeIn animation */
  opacity: 0; /* Start with opacity 0 (fully transparent) */
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start fully transparent */
  }
  to {
    opacity: 1; /* End fully opaque (visible) */
  }
}
