body {
    font-family: "Roboto", sans-serif !important;
  }
  


.display-6 {
    font-weight: 900;
    line-height: 1.2;
  }
  /* Desktop style for screens with a minimum width of 1200px */
  .display-6 {
    font-size: 2.5rem;
    /* Add other desktop styles here */
  }
  
  /* Media query for screens with a maximum width of 1199px (covers mobile and tablet devices) */
  @media (max-width: 1199px) {
    .display-6 {
      /* Define your mobile and tablet styles here */
      font-size: 1.8rem; /* Example font size for mobile and tablet devices */
      /* Add other styles as needed for smaller screens */
    }
  }

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}


.text-primary {
    color: #dc3545 !important;
}
.navbar a {
  text-decoration: none;
  margin-right: 40px;
  color: #dc3545;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #dc3545;
}