.animated-text {
    animation-name: slideInUp; /* Define your animation name */
    animation-duration: 1s; /* Animation duration */
    animation-timing-function: ease; /* Animation timing function */
  }
  .bold-uppercase {
    font-weight: bold;
    text-transform: capitalize;
  }
    
  @keyframes slideInUp {
    0% {
      transform: translateY(50px); /* Start position */
      opacity: 0; /* Start opacity */
    }
    100% {
      transform: translateY(0); /* End position */
      opacity: 1; /* End opacity */
    }
  }
  .equal-size {
    width: 100%; /* Set the width to 100% */
    height: 79%; /* Maintain the aspect ratio */
  }
/* Add this CSS to your Yoga.css file */
.container-xxxl {
    background-image: url('../../img/product-bg.png'); /* Replace with the path to your background image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the image */
    padding: 50px 0; /* Add some padding for spacing */
  }
  /* Change the font style for "Article" text */
.fs-5 {
    font-family: 'Your Font', sans-serif; 
    font-weight: 600;
    font-style: italic; 
    color: #c64426;
  }
  
  .display-6 {
    font-family: 'Your Font', sans-serif; 
    font-weight: 700; 
    font-size: 36px;
  }
  
  /* Default styles for all screen sizes */
.animated-text {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.equal-size {
  width: 100%;
  height: auto; /* Remove fixed height to maintain aspect ratio */
}

/* Responsive styles for tablet screens */
@media (max-width: 768px) {
  .container-xxxl {
      padding: 30px 0; /* Adjust padding for spacing on tablets */
  }

  /* Reduce font size for smaller screens */
  .fs-5 {
      font-size: 16px;
  }

  .display-6 {
      font-size: 24px;
  }
}

/* Responsive styles for mobile screens */
@media (max-width: 576px) {
  .container-xxxl {
      padding: 20px 0;
      overflow-x: hidden; 

  }

  /* Further reduce font size for smaller screens */
  .fs-5 {
      font-size: 14px;
  }

  .display-6 {
      font-size: 20px;
  }
}
